<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="shin.a.pes">



    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!-- برای API 33+ -->

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" /> <!-- برای API 34+ و نوع dataSync -->

    <!-- دسترسی های حافظه قدیمی با محدودیت نسخه -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />

    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <queries>
        <!-- مرورگرهای معمولی -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>

        <!-- مایکت -->
        <package android:name="com.farsitel.bazaar" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="bazaar" />

        </intent>

        <!-- اپ PSP plugin -->
        <package android:name="ir.gtawire.pspp" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@drawable/bg2"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="false"
        android:theme="@style/Theme.PersianEFootbal"
        tools:targetApi="36">

        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.PersianEFootbal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
